<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

    <link rel="stylesheet" href="/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <button onclick="window.location.href='/task-manager'">Task Manager</button>
    <i class='bx bx-task bx-spin' style='color:#dee487' ></i>
    <script src="/script.js"></script>
</body>
</html>