<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="form-container">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="form-group">
            <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="on">
            <i class='bx bx-user bx-fade-right' ></i>
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <i class='bx bx-lock-alt bx-tada' ></i>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">Remember Me</label>
            <a href="#">Forgot Password</a>
          </div>
          <button type="submit" class="submit-btn">Login</button>
        </form>
        <p>Don't have an account? <a class="link" href="/signup">SignUp</a></p>
      </div>
      <script src="/script.js"></script>
</body>
</html>
